/* http://jsfiddle.net/jermartin77/63sqmob6/ */

.remove-span {
    background: rgb(128, 0, 0);
    width: 16px;
    height: 16px;
    position: relative;
}
/* .remove-span:after {
    content: '';
    height: 16px;
    border-left: 2px solid rgb(128, 0, 0);
    position: absolute;
    transform: rotate(45deg);
    left: 7px;
}
.remove-span:before {
    content: '';
    height: 16px;
    border-left: 2px solid rgb(128, 0, 0);
    position: absolute;
    transform: rotate(-45deg);
    left: 7px;
} */

.task-span {
    text-decoration: none;
}
.task-span-strikethrough {
    text-decoration: line-through;
}